:root {
    --light-transparent: #f9fafbbf;
    --gray-transparent: rgb(108 117 125 / 50%);
}

body {
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
}

header#header h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0px;
    background: rgb(252,176,69);
    background: linear-gradient(90deg, rgba(252,176,69,1) 20%, rgba(253,29,29,1) 60%, rgba(131,58,180,1) 100%);
}

footer#footer p {
    text-align: center;
    margin-bottom: 0;
    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

footer#footer p a {
    color: var(--indigo);
}

#mainWrapper {
    background: url('../img/clouds.png') repeat-x center fixed;
    background-size: cover;
}

#cityContainer {
    border: 3px solid var(--gray-dark);
    border-radius: 15px;
    box-shadow: 10px 10px 15px var(--blue);
    background-color: var(--light-transparent);
}

ul#citiesList {
    padding: 0;
}

li.savedCity {
    background-color: var(--teal);      
}

li.noCity {
    background-color: var(--warning);      
}

input#cityInput {
    border-radius: 7px;
    width: 100%;
}

input#cityInput:focus {
    box-shadow: 0 0 5px var(--pink);
}

#searchCity {
    /* font-family: 'Bebas Neue', cursive; */
    border: 3px solid var(--blue);
    background-color: var(--blue);
    font-size: 1.75rem;
}

#searchCity:active {
    border-color: var(--pink);
    box-shadow: 0 0 10px var(--blue);
}

#weatherWait {
    font-size: 4rem;
    text-align: center;
    width: 5rem;
    border-radius: 50px;
    box-shadow: 0 0 45px var(--yellow);
}

#weatherData {
    /* font-family: 'Fontdiner Swanky', cursive; */
    border: 3px solid var(--dark);
    border-radius: 15px;
    box-shadow: 10px 10px 15px var(--blue);
    background-color: var(--light-transparent);
    min-height: 500px;
}

#currentWeather {
    background-color: var(--light);
    border: 1px solid var(--dark);
    border-radius: 10px;
    /* width: 300px; */
}

#currentWeather div {
    padding-left: 20px!important;
}

div#currentWeatherDescription {
    font-size: smaller;
    padding-left: 40px!important;
    text-transform: capitalize;
}

.weatherAlert {
    background-color: var(--info);
    border-radius: 10px;
    cursor: help;
    -webkit-text-stroke: 1px var(--dark);
    color: var(--yellow);
    font-size: large;
    /* text-shadow:
        2px 2px 0 var(--dark),
      -1px -1px 0 var(--dark),  
       1px -1px 0 var(--dark),
       -1px 1px 0 var(--dark),
        1px 1px 0 var(--dark); */
}

#currentForecastContainer {
    background-color: var(--light);
    border: 1px solid var(--dark);
    border-radius: 10px;
}

.forecastDay {
    font-family: 'Amatic SC', cursive;
    font-size: larger;
    border: 1px solid var(--dark);
    border-radius: 10px;
}

.weatherImage {
    width: 50px;
    border: 1px solid var(--gray);
    border-radius: 35px;
}

.forecastWeatherDescription {
    text-transform: capitalize;
}

.uvindex {
    border-radius: 10px;
    box-shadow: 0 0 5px var(--gray-dark);
}

.uvLow {
    background-color: var(--green);
}

.uvModerate {
    background-color: var(--yellow);
}

.uvHigh {
    background-color: var(--red);
}

.uvSevere {
    background-color: var(--danger);
}

/* Bootstrap CSS color variables:
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d; // transparent: rgb(108 117 125 / 50%)
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa; // transparent: #f9fafbbf
    --dark: #343a40;
*/